<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="helloBean1" class="com.exam.spring1.HelloBean" scope="prototype" >
	
		<constructor-arg value="토르" />
		
	</bean>
	
	<bean id="helloBean2" class="com.exam.spring1.HelloBean" scope="prototype" >
	
		<constructor-arg>
			<value>스타크</value>
		</constructor-arg>
		
		<constructor-arg>
			<value>토니</value>
		</constructor-arg>
	</bean>
</beans>
